@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.btn::before {
  content: '';
  top: 100%;
  left: 1%;
  transform: translateX(-8%);
  margin-top: 8px;
  width: 20%;
  height: 2px;
  background: #fff;
  position: absolute;
}

.btn:hover {
  opacity: 60%;
}

/* 헤더 */
.header {
  margin-top: 42px;
}

.heade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heade_text {
  position: absolute;
  top: 50%;
  right: 0%;
  /* margin-right: 40px; */
  text-align: right;
  padding-bottom: 10px;
}

.heade_text a:hover {
  color: #625f5f;
  padding-bottom: 5px;
  border-bottom: 1px solid #625f5f;
}

.heade_text a:nth-child(2):hover {
  color: #000;
  border-bottom: 1px solid #fff;
}

/* 메뉴 */
.menu {
  display: flex;
  padding: 50px 0px;
  justify-content: space-between;
}

.menu li a {
  margin: 25px 0px;
}

.menu li a:hover {
  color: #cb9658;
  padding: 10px 0;
  border-bottom: 3px solid #cb9658;
  width: 90%;
}

.menu li a.on {
  color: #cb9658;
  padding: 10px 0;
  border-bottom: 3px solid #cb9658;
  width: 90%;
}

/* 슬라이드 */

.slider {
}

.slide .item {
  background: cyan;
  width: 1140px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide .item_01 {
  background-image: url(../images/silde_01.jpg);
}

.slide .item_02 {
  background-image: url(../images/silde_02.jpg);
}

.slide .item_03 {
  background-image: url(../images/silde_03.jpg);
}

.slide .item_04 {
  background-image: url(../images/silde_04.jpg);
}

.slide .item_05 {
  background-image: url(../images/silde_05.jpg);
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* slick */
.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  opacity: 0.5;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}

/* 버튼 */

.nav_btn {
  display: flex;
  justify-content: center;
}

.nav_btn li:nth-child(1),
.nav_btn li:nth-child(2),
.nav_btn li:nth-child(3),
.nav_btn li:nth-child(4) {
  background: #f2765c;
  width: 360px;
  height: 160px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  transition: all 0.3s;
  text-align: center;
}

.nav_btn li:nth-child(1) {
  line-height: 2;
}

.nav_btn li:nth-child(2) {
  background: #423f98;
}

.nav_btn li:nth-child(3) {
  background: #8cc9a3;
}

.nav_btn li:nth-child(4) {
  background: #e5c700;
  line-height: 2;
  text-align: center;
}

.nav_btn li:nth-child(1) p,
.nav_btn li:nth-child(4) p {
  font-size: 20px;
}

.nav_btn li:nth-child(1):hover,
.nav_btn li:nth-child(2):hover,
.nav_btn li:nth-child(3):hover,
.nav_btn li:nth-child(4):hover {
  opacity: 0.85;
  color: #000;
}

/* section_01 */

.section_01 {
  display: flex;
  align-items: center;
  height: 1024px;
  background: url(../images/bg_01.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.seo_01 {
  display: flex;
  color: #fff;
  padding-top: 50px;
}

.left {
  margin-right: 100px;
}

.left span {
  font-size: 30px;
}

.left h2 {
  font-size: 40px;
  font-weight: 700;
}

.seo_01 .left p {
  width: 400px;
  font-size: 15px;
  line-height: 1.4;
  margin: 63px 0 73px;
}

.seo_01 .left .btn {
  font-size: 20px;
  margin-left: 0;
}

.seo_01 .left .btn::before {
  width: 30%;
  transform: translateX(-5%);
}

.seo_01 .right ul li {
  display: flex;
}

.seo_01 .right ul li a {
  font-size: 17px;
  background: #cb9658;
  width: 200px;
  height: 44px;
  border-radius: 22px;
  line-height: 44px;
  text-align: center;
  margin-right: 60px;
}

.seo_01 .right ul li:nth-child(3) a,
.seo_01 .right ul li:nth-child(4) a,
.seo_01 .right ul li:nth-child(5) a {
  height: 50px;
  border-radius: 50px;
  line-height: 22px;
  padding-top: 3px;
}

.seo_01 .right ul li p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.seo_01 .right ul li p span {
  margin-left: 140px;
}

.seo_01 .right ul li i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 35px;
  cursor: pointer;
}

.seo_01 .right ul li:last-child p {
  margin-bottom: 0px;
}

.up-on-scroll {
  transition: transform 0.7s, opacity 1s;
}

/* 행사 */

.section_02 {
  height: 958px;
}

.event_01 {
  padding: 130px 0;
}

.seo_title {
  display: flex;
  margin-bottom: 60px;
}

.seo_title span {
  font-size: 30px;
}

.seo_title h2 {
  font-size: 40px;
  font-weight: bold;
  color: #625f5f;
  margin-right: 95px;
  line-height: 1.4;
}

.seo_title p {
  color: #707070;
  line-height: 1.4;
}

/* 카드 */

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.section_02 .cards .card:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.section_02 .cards .card:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 3;
}

.cards img {
  width: 360px;
  height: 598px;
  position: relative;
}

.cards img:hover {
}

.dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s;
}

.section_02 .cards .card:hover .dimm {
  opacity: 1;
}

.section_02 .cards .card i {
  top: 50px;
  left: 0%;
  display: none;
}

.section_02 .cards .card:hover i {
  display: flex;
  position: absolute;
  top: 23%;
  left: 44%;
  color: #fff;
  font-size: 45px;
}

.section_02 .cards .card .card_btn {
  top: 50px;
  left: 0%;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  display: none;
  border-radius: 40px;
}

.section_02 .cards .card:hover .card_btn {
  display: flex;
  position: absolute;
  top: 23%;
  left: 24%;
}

.card_btn:hover {
  background: #fff;
}

.card_btn span {
  padding: 18px 40px;
  transition: all 0.3s;
}

.card_btn span:hover {
  color: #4b4a4a;
  padding: 18px 40px;
}

/* 카드1 */
.card_01 {
  position: relative;
}

.card_01 p {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  margin-bottom: 200px;
}

/* 카드2 */

.card_02 {
  position: relative;
}

.card_02 p {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  width: 222px;
  text-align: center;
}

/* 카드 3 */

.card_03 {
  position: relative;
}

.card_03 p {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  width: 222px;
  text-align: center;
}

.card_03 img {
  height: 420px;
}

.section_02 .cards .card_03:hover .card_btn {
  display: flex;
  position: absolute;
  top: 30%;
  left: 24%;
}

/* 카드 4 */

.card_04 {
  position: relative;
}

.card_04 a {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  width: 242px;
  height: 67px;
  border: 1px solid #fff;
  border-radius: 67px;
  line-height: 67px;
  text-align: center;
  transition: all 0.3s;
}

.card_04 a:hover {
  background: #fff;
  color: #4b4a4a;
}

.card_04 img {
  height: 138px;
}

/* 슬라이드2 */

.content_01 {
  height: 522px;
  background: url(../images/bg_02.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.content_text {
  width: 500px;
}

.content_text h2 {
  font-size: 40px;
  font-weight: 500;
}

.content_text p {
  line-height: 1.6;
  margin: 35px 0 20px;
}

.content_01 .btn {
  margin-top: 50px;
}

/* 바로가기 */
.section_03 {
}

.content_02 {
  margin-top: 60px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.content_title {
  font-size: 30px;
  font-weight: 500;
  color: #4b4a4a;
}

.box {
  display: flex;
  color: #ffffff;
}

.box ul li {
  display: flex;
  justify-content: center;
}

.box h3 {
  margin-top: 24px;
  margin-bottom: 48px;
}

.box img {
  margin-top: 45px;
}

.box_01,
.box_02,
.box_03,
.box_04 {
  width: 198px;
  height: 270px;
  margin-left: 21px;
  transition: all 0.3s;
}

.box_01:hover,
.box_02:hover,
.box_03:hover,
.box_04:hover {
  transform: scale(1.04);
}

.box_01 {
  background: #f2765c;
}

.box_01 img {
  width: 57px;
  height: 64px;
}

.box_02 {
  background: #423f98;
}

.box_02 img {
  width: 57px;
  height: 58px;
}

.box_03 {
  background: #8cc9a3;
}

.box_03 img {
  width: 63px;
  height: 51px;
}

.box_04 {
  background: #e5c700;
}

.box_04 img {
  width: 44px;
  height: 63px;
}

.goview {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  font-size: 13px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.goview:hover {
  background: #fff;
  color: #4b4a4a;
}

.section_04 {
  background: #f8f8f8;
  height: 80px;
  display: flex;
  margin-bottom: 46px;
}

/* 공지 */

.content_03 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content_anno {
  display: flex;
  color: #625f5f;
  width: 860px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.content_anno p {
  position: absolute;
  top: 0;
  right: 10%;
  margin-left: 50px;
}

.content_anno i {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 74px;
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: none;
}

/* 푸터 */
.section_05 {
  height: 153px;
  display: flex;
  align-items: center;
  position: relative;
}

.section_05::after {
  position: absolute;
  content: '';
  border-top: 2px solid #ebeaea;
  top: 0;
  left: 0;
  width: 100%;
}

.footer {
  position: relative;
}

.footer_img,
.icon {
  display: flex;
  align-items: center;
}

.footer_img .logo_01 {
  width: 200px;
  height: 45px;
  margin-right: 101px;
}

.footer_img .logo_02 {
  width: 126px;
  height: 55px;
  margin-right: 70px;
}

.footer_list {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.footer_list p {
  line-height: 1.4;
  margin-top: 16px;
}

.footer_text {
  display: flex;
}

.footer_text a h3:hover {
  text-decoration: underline;
}

.footer_text h3:first-child {
  margin-right: 40px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

.icon a:last-child {
  margin-left: 25px;
}
